.Portfolio {
    display: block;
    max-width: 100%;
    padding-top: 15vh;
    padding-bottom: 15vh;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

.PortfolioTitle {
    width: 20vw;
    font-size: 2vw;
    text-align: left;
    position: absolute;
    top: 0vh;
    padding-top: 15vh;
    padding-bottom: 40vh;
    padding-left: 10vw;
    z-index: 3;
    background-color: #303030;
    padding-right: 10vh;
}

.PortfolioContent {
    position: relative;
}

.ProjectTitle {
    font-size: 2vw;
    text-align: left;
    margin-bottom: 2vh;
    max-width: 100%;
}

.ProjectBulletPoint {
    text-align: left;
}

.Project {
    display: block;
    align-items: center;
    justify-content: center;
    margin: 0%;
    min-width: 60%;
    max-width: 60%;
    margin-left: 40%;
    z-index: -1;
}

.GithubLogo {
    display: none;
}

.ProjectDesc {
    align-items: left;
    text-align: left;
    max-width: 100%;
}

.ProjectPoints {
    align-items: center;
    max-width: 100%;
    margin: 0%;
}

.ProjectBody {
    text-align: center;
    align-content: center;
    justify-content: center;
    max-width: 50%;
}

.Projects {
    display: flex;
}

.leftButton {
    position: absolute;
    top: 0%;
    left: 0%;
    padding-left: 5vw;
    margin-left: 30vw;
    padding-top: 17vh;
    padding-bottom: 15vh;
    color: rgb(131, 130, 130);
    font-size: 5vh;
    transform: scaleY(2);
    z-index: 3;
    background-color: #303030;
    border: 0;
    outline: 0;
}

.rightButton {
    position: absolute;
    top: 0%;
    left: 70%;
    padding-left: 5vw;
    padding-top: 17vh;
    padding-bottom: 15vh;
    padding-right: 5%;
    color: rgb(131, 130, 130);
    font-size: 5vh;
    transform: scaleY(2);
    z-index: 2;
    background-color: #303030;
    border: 0;
    outline: 0;
}

.blockingScreen {
    position: absolute;
    top: 0%;
    left: 70%;
    padding-right: 50%;
    background-color: #303030;
    z-index: 1;
    height: 100%;
}

.leftButton:hover {
    color: white;
}

.rightButton:hover {
    color: white;
}

@media only screen and (max-width: 800px) {
    .Portfolio {
        display: block;
        max-width: 100%;
        padding-top: 5vh;
        padding-bottom: 5vh;
        overflow-x: hidden;
        position: static;
    }
    
    .PortfolioTitle {
        position: static;
        font-size: 6vw;
        text-align: left;
        margin-left: 3vw;
        top: 0vh;
        padding-top: 0vh;
        padding-bottom: 0vh;
        padding-left: 0vw;
    }

    .ProjectTitle {
        margin-top: 3vh;
        text-align: left;
        font-size: 5vw;
        align-items: flex-start;
        margin-bottom: 2vh;
    }

    .Project {
        min-width: 100%;
        display: block;
        align-items: center;
        height: 30vh;
        max-width: 100%;
        margin-left: 0%;
    }

    .Projects {
        position: relative;
        display: flex;
    }

    .ProjectBody {
        width: unset;
        max-width: 90%;
        margin-left: 5vw;
    }

    .ProjectDesc {
        text-align: left;
        max-width: 90vw;
    }

    .GithubLogo {
        display: none;
    }

    .leftButton {
        position: relative;
        display: none;
    }

    .rightButton {
        position: relative;
        display: none;
    }

    .blockingScreen {
        display: none;
    }
}

@media only screen and (min-width: 500px) and (max-width: 800px) {
    .PortfolioTitle {
        font-size: 4vw;
    }

    .ProjectTitle {
        font-size: 3vw;
    }
}