.AboutTitle {
    margin-left: 30vw;
    padding-top: 20vh;
}

.AboutDesc {
    display: flex;
    font-size: 1.5vw;
    margin-left: 30vw;
}

.DescPara {
    max-width: 50vw;
}

.About {
    min-height: 30vh;
    padding-bottom: 20vh;
    background-color: #1d1c1c;
    max-width: 100%;
}

@media only screen and (max-width: 500px){
    .About {
        min-height: 30vh;
        padding-bottom: 5vh;
        background-color: #1d1c1c;
        max-width: 100%;
    }
    .AboutTitle {
        margin-left: 3vw;
        padding-top: 5vh;
    }
    .AboutDesc {
        display: flex;
        font-size: 5vw;
        margin-left: 3vw;
    }
    .DescPara {
        max-width: 100%;
    }
}