.BasicInfoExp {
    display: flex;
    padding-bottom: 2vh;
}

.companyName {
    text-align: left;
    font-size: 2vw;
    align-items: flex-start;
}

.EmptyBlock {
    height: 5vh;
}

.BulletPointWork {
    display: list-item;
    text-align: left;
    align-items: center;
    color: white;
}

.BulletPointPara {
    max-width: 50vw;
    margin-left: 0%;
}

.ul {
    padding-inline-start: 0px;
    list-style-type: circle;
}

.Block {
    display: flex;
    text-align: left;
    align-items: flex-start;
}

.Description {
    display: flex;
    text-align: left;
    align-items: flex-start;
}

.Experience {
    padding-bottom: 2vh;
    margin: 0%;
}

@media only screen and (max-width: 500px){
    .companyName {
        text-align: left;
        font-size: 5vw;
        align-items: flex-start;
        padding-top: 5vh;
        padding-bottom: 1vh;
    }
    .BasicInfoExp {
        display: inline;
        padding-bottom: 2vh;
    }
    .BITitle {
        display: inline;
        text-align: left;
    }
    .ExpBullet {
        display: inline;
    }
    .BILocation {
        display: inline;
    }
    .BIDate {
        display: inline;
    }
    .Description {
        display: flex;
        text-align: left;
        align-items: flex-start;
        width: 100%;
    }
    .BulletPointPara {
        margin-left: 0%;
        width: auto;
        max-width: 90%;
    }
}