.Work {
    display: flex;
    background-color: #4d4d4d;
    padding-top: 10vh;
}

.ExperienceList {
    margin-left: 5vh;
}

.work-title {
    width: 20vw;
    font-size: 5vh;
    text-align: left;
    margin-left: 10vw;
}