.BasicInfo {
    display: flex;
}

.UniversityName {
    text-align: left;
    font-size: 2vw;
    align-items: flex-start;
}

.Education {
    display: flex;
    padding-top: 20vh;
    padding-bottom: 20vh;
    width: 100%;
}

.ProgramList {
    margin-left: 5vw;
}

.EducationTitle {
    width: 20vw;
    font-size: 2vw;
    text-align: left;
    margin-left: 10vw;
}

@media only screen and (max-width: 500px) {
    .Education {
        display: block;
        padding-top: 5vh;
        padding-bottom: 5vh;
        width: 100%;
    }
    .EducationTitle {
        font-size: 6vw;
        text-align: left;
        margin-left: 3vw;
        padding-bottom: 3vh;
    }
    .UniversityName {
        text-align: left;
        font-size: 5vw;
        align-items: flex-start;
        padding-bottom: 1vh;
    }
    .ProgramList {
        margin-left: 3vw;
    }
    .Program {
        padding-bottom: 2vh;
    }

    .BasicInfo {
        align-items: flex-start;
        justify-content: left;
        margin-right: 5%;
    }
}