.BasicInfo {
    display: flex;
}

.UniversityName {
    text-align: left;
    font-size: 5vh;
    align-items: flex-start;
}

.Education {
    display: flex;
    padding-top: 20vh;
    padding-bottom: 20vh;
}

.ProgramList {
    margin-left: 5vh;
}

.EducationTitle {
    width: 20vw;
    font-size: 5vh;
    text-align: left;
    margin-left: 10vw;
}