.SocialMediaLogo {
    height: inherit;
    width: inherit;
    font-size: inherit;
}

.image {
    height: inherit;
    width: inherit;
    font-size: 20vh;
    filter: invert(0.5);
}

.image:hover {
    height: inherit;
    width: inherit;
    filter: invert(0.9);
}