.SocialMediaLogo {
    height: inherit;
    width: inherit;
}

.image {
    height: inherit;
    width: inherit;
    filter: invert(0.5);
}

.image:hover {
    height: inherit;
    width: inherit;
    filter: invert(0.9);
}